<html class="svg" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google" content="notranslate" />
    <meta http-equiv="Content-Language" content="en_US" />
    {% for dns in GEODASH_DNS_PREFETCH %}
    <link rel="dns-prefetch" href="{{ dns }}">
    {% endfor %}
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="{{ STATIC_URL }}/favicon.ico" />
    <!-- Fonts / External -->
    {% block head_fonts %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    {% endblock %}
    <!-- CSS / External-->
    <link href="{{ STATIC_URL}}dashboards/lib/jquery-ui/{{ GEODASH_STATIC_DEPS.jqueryui.version }}/jquery-ui.min.css" rel="stylesheet"/>
    {% block head_bootstrap_css %}
    <link href="{{ STATIC_URL }}geodash/build/bootstrap/bootstrap.css" rel="stylesheet"/>
    {% endblock %}
    <link href="{{ STATIC_URL }}dashboards/lib/typeahead.js-bootstrap-css/typeaheadjs.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL}}dashboards/lib/c3/{{ GEODASH_STATIC_DEPS.c3.version }}/c3.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL}}dashboards/lib/font-awesome/{{ GEODASH_STATIC_DEPS.fontawesome.version }}/css/font-awesome.min.css" rel="stylesheet"/>
    {% if GEODASH_STATIC_MONOLITH_CSS %}
    <!-- CSS / Monolith -->
    {% block head_monolith_css %}{% endblock %}
    {% else %}
    <!-- CSS / Internal -->
    {% block head_main_css %}
    <link href='{{ STATIC_URL }}geodash/build/css/main.css?v={{ GEODASH_STATIC_VERSION }}' rel='stylesheet' />
    {% endblock %}
    {% endif %}
    <style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}</style>
    <!-- JavaScript / Polyfill -->
    {% block polyfill %}{% endblock %}
    {% if GEODASH_STATIC_MONOLITH_JS %}
    <!-- JavaScript / Monolith -->
    {% block head_monolith_js %}{% endblock %}
    {% else %}
    <!-- JavaScript / External -->
    {% if GEODASH_STATIC_DEBUG.jquery %}
    <script src="{{ STATIC_URL}}dashboards/lib/jquery/{{ GEODASH_STATIC_DEPS.jquery.version }}/jquery-{{ GEODASH_STATIC_DEPS.jquery.version }}.js"></script>
    <script src="{{ STATIC_URL}}dashboards/lib/jquery-ui/{{ GEODASH_STATIC_DEPS.jqueryui.version }}/jquery-ui.js"></script>
    {% else %}
    <script src="{{ STATIC_URL}}dashboards/lib/jquery/{{ GEODASH_STATIC_DEPS.jquery.version }}/jquery-{{ GEODASH_STATIC_DEPS.jquery.version }}.min.js"></script>
    <script src="{{ STATIC_URL}}dashboards/lib/jquery-ui/{{ GEODASH_STATIC_DEPS.jqueryui.version }}/jquery-ui.min.js"></script>
    {% endif %}
    {% if GEODASH_STATIC_DEBUG.yamljs %}
    <script src="{{ STATIC_URL}}dashboards/lib/yamljs/develop/dist/yaml.js"></script>
    {% else %}
    <script src="{{ STATIC_URL}}dashboards/lib/yamljs/develop/dist/yaml.min.js"></script>
    {% endif %}
    <script src="{{ STATIC_URL}}dashboards/lib/typeahead/custom/typeahead-custom.js"></script>
    {% if GEODASH_STATIC_DEBUG.angular %}
    <script src="{{ STATIC_URL}}dashboards/lib/angularjs/{{ GEODASH_STATIC_DEPS.angular.version }}/angular.js"></script>
    <script src="{{ STATIC_URL}}dashboards/lib/angularjs/{{ GEODASH_STATIC_DEPS.angular.version }}/angular-route.js"></script>
    <script src="{{ STATIC_URL}}dashboards/lib/angularjs/{{ GEODASH_STATIC_DEPS.angular.version }}/angular-sanitize.js"></script>
    <script src="{{ STATIC_URL}}dashboards/lib/angularjs/{{ GEODASH_STATIC_DEPS.angular.version }}/angular-cookies.js"></script>
    {% else %}
    <script src="{{ STATIC_URL}}dashboards/lib/angularjs/{{ GEODASH_STATIC_DEPS.angular.version }}/angular.min.js"></script>
    <script src="{{ STATIC_URL}}dashboards/lib/angularjs/{{ GEODASH_STATIC_DEPS.angular.version }}/angular-route.min.js"></script>
    <script src="{{ STATIC_URL}}dashboards/lib/angularjs/{{ GEODASH_STATIC_DEPS.angular.version }}/angular-sanitize.min.js"></script>
    <script src="{{ STATIC_URL}}dashboards/lib/angularjs/{{ GEODASH_STATIC_DEPS.angular.version }}/angular-cookies.min.js"></script>
    {% endif %}
    {% if GEODASH_STATIC_DEBUG.bootstrap %}
    <script src="{{ STATIC_URL}}dashboards/lib/bootstrap/{{ GEODASH_STATIC_DEPS.bootstrap.version }}/dist/js/bootstrap.js"></script>
    {% else %}
    <script src="{{ STATIC_URL}}dashboards/lib/bootstrap/{{ GEODASH_STATIC_DEPS.bootstrap.version }}/dist/js/bootstrap.min.js"></script>
    {% endif %}
    {% if GEODASH_STATIC_DEBUG.d3 %}
    <script src="{{ STATIC_URL}}dashboards/lib/d3/{{ GEODASH_STATIC_DEPS.d3.version }}/d3.js"></script>
    {% else %}
    <script src="{{ STATIC_URL}}dashboards/lib/d3/{{ GEODASH_STATIC_DEPS.d3.version }}/d3.min.js"></script>
    {% endif %}
    {% if GEODASH_STATIC_DEBUG.c3 %}
    <script src="{{ STATIC_URL}}dashboards/lib/c3/{{ GEODASH_STATIC_DEPS.c3.version }}/c3.js"></script>
    {% else %}
    <script src="{{ STATIC_URL}}dashboards/lib/c3/{{ GEODASH_STATIC_DEPS.c3.version }}/c3.min.js"></script>
    {% endif %}
    <!-- JavaScript / Internal -->
    {% block head_main_js %}<!-- Should be overwritten by downstream projects -->{% endblock %}
    {% endif %}

    {% block head_inline %}
    <script type="text/javascript" language="Javascript">
        var now = new Date();
        var today = new Date(now.getFullYear(),now.getMonth(),now.getDate());
        var months_short_3 = {{ MONTHS_SHORT3|safe }};
        var months_long = {{ MONTHS_LONG|safe }};
        var months_num = {{ MONTHS_NUM|safe }};
        var daysoftheweek = {{ DAYSOFTHEWEEK|safe }};
    </script>
    {% endblock %}

    {% block map_config %}
    <script>
      geodash.mapping_library = "{{ GEODASH_MAPPING_LIBRARY }}";
    </script>
    {% endblock %}

    {% block extra_head %}{% endblock %}

    {% block init %}{% endblock %}
  </head>
  <body>{% block content %}{% block extra_content %}{% endblock %}{% endblock %}</body>
</html>
