{% extends "dashboards/map.html" %}

{% block title %}{{ dashboard.title }} - {{ SITE_NAME }}{% endblock %}

{% block extra_head %}{{ block.super }}{% endblock %}

{% block init %}{{ block.super }}{% endblock %}

{% block initial_data %}
<script type="text/javascript" language="Javascript">
    geodash.initial_data =
    {
      "data": {}
    };
</script>
{% endblock %}

{% block sidebar_left %}{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block extra_content %}{% endblock %}

{% block footer %}{% endblock %}
