{% extends "dashboards/base.html" %}

{% load geodash_tags %}

{% block title %}{{ SITE_NAME }}{% endblock %}

{% block head_fonts %}
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
{% endblock %}

{% block head_bootstrap_css %}
<link href="{{ STATIC_URL }}dashboards/build/bootstrap/bootstrap.css" rel="stylesheet"/>
{% endblock %}

{% block head_main_css %}
<link href='{{ STATIC_URL }}dashboards/build/css/dashboards.css?v={{ GEODASH_STATIC_VERSION }}' rel='stylesheet' />
{% endblock %}

{% block head_monolith_css %}
<link href='{{ STATIC_URL }}dashboards/build/css/dashboards.full.css?v={{ GEODASH_STATIC_VERSION }}' rel='stylesheet' />
{% endblock %}

{% block polyfill %}
{% if GEODASH_STATIC_DEPS.polyfill %}
<script src="{{ STATIC_URL }}dashboards/build/js/polyfill.js?v={{ GEODASH_STATIC_VERSION }}"></script>
{% else %}
<script src="{{ STATIC_URL }}dashboards/build/js/polyfill.min.js?v={{ GEODASH_STATIC_VERSION }}"></script>
{% endif %}
{% endblock %}

{% block head_main_js %}
<script src="{{ STATIC_URL }}dashboards/lib/showdown/1.3.0/showdown.js?v={{ GEODASH_STATIC_VERSION }}"></script>
{% if GEODASH_STATIC_DEBUG.main %}
<!-- <script src="{{ STATIC_URL }}dashboards/build/js/monkeypatch.js?v={{ GEODASH_STATIC_VERSION }}"></script> -->
<script src="{{ STATIC_URL }}dashboards/build/js/dashboards.js?v={{ GEODASH_STATIC_VERSION }}"></script>
{% else %}
<!-- <script src="{{ STATIC_URL }}dashboards/build/js/monkeypatch.min.js?v={{ GEODASH_STATIC_VERSION }}"></script>  -->
<script src="{{ STATIC_URL }}dashboards/build/js/dashboards.min.js?v={{ GEODASH_STATIC_VERSION }}"></script>
{% endif %}
{% endblock %}

{% block head_monolith_js %}
{% if GEODASH_STATIC_DEBUG.monolith %}
<script src="{{ STATIC_URL }}dashboards/build/js/dashboards.full.js?v={{ GEODASH_STATIC_VERSION }}"></script>
{% else %}
<script src="{{ STATIC_URL }}dashboards/build/js/dashboards.full.min.js?v={{ GEODASH_STATIC_VERSION }}"></script>
{% endif %}
{% endblock %}

{% block head_inline %}
<script type="text/javascript" language="Javascript">
    var now = new Date();
    var today = new Date(now.getFullYear(),now.getMonth(),now.getDate());
    {% comment %}
    var months_short_3 = {{ MONTHS_SHORT3|safe }};
    var months_long = {{ MONTHS_LONG|safe }};
    var months_num = {{ MONTHS_NUM|safe }};
    var daysoftheweek = {{ DAYSOFTHEWEEK|safe }};
    {% endcomment %}
</script>
{% endblock %}

{% block extra_head %}
  {% block map_config %}
    {% if dashboards_json %}
      <script type="text/javascript" language="Javascript">
        geodash.dashboards = {{ dashboards_json | safe }};
      </script>
    {% endif %}
  {% endblock %}
  {% block initial_state %}
    {% if state_schema_json %}
      <script type="text/javascript" language="Javascript">
        geodash.state_schema = {{ state_schema_json | safe }};
      </script>
    {% endif %}
  {% endblock %}
  {% block initial_data %}
  <script type="text/javascript" language="Javascript">
      geodash.initial_data = {"data":{}};
  </script>
  {% endblock %}
  {% block server_templates %}
    {% if server_templates %}
      <script type="text/javascript" language="Javascript">
          geodash.templates.server = {{ server_templates | safe }};
      </script>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block init %}
<script type="text/javascript" language="Javascript">
  $(function(){ geodash.init.dashboard("main", $("#geodash-main"), undefined); });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% block header %}{% endblock %}
    <div
      id="geodash-main"
      data-geodash-dashboard-name="main"
      data-geodash-controllers="GeoDashControllerMain"
      {% if dashboard_url %}data-geodash-dashboard-config-url="{{ dashboard_url }}"{% endif %}
      {% if state_url %}data-geodash-dashboard-initial-state-url="{{ state_url }}"{% endif %}
      {% if state_schema_url %}data-geodash-dashboard-state-schema-url="{{ state_schema_url }}"{% endif %}
      {% if dashboard_resources_json %}data-geodash-dashboard-resources="{{ dashboard_resources_json }}"{% endif %}
      class="geodash-dashboard"
      geodash-main>
      <div class="row" style="padding:10px;">
        <div class="col-md-2"></div>
        <div class="col-md-4"><a href="/"><h4>Back to Homepage</h4></a></div>
        <div class="col-md-4"><a href="/"><i class="fa fa-arrow-right" style="font-size: 3rem;"></i></a></div>
        <div class="col-md-2"></div>
      </div>
    </div>
    {% block footer %}{% endblock %}
</div>
{% block extra_content %}{% endblock %}
{% endblock %}
