<div class="row geodash-row geodash-main geodash-controller">
  <div
    id="geodash-map"
    class="row geodash-row geodash-map geodash-controller"
    geodash-base>
    <div id="map" data-geodash-controllers="GeoDashControllerMapMap" geodash-map-map></div>
    <div id="geodash-popups" style="display:none;">
    <div id="popup"></div>
    </div>
  </div>
  <div id="geodash-modals" class="geodash-modals">
    <div data-geodash-controllers="DashboardsControllerModalWelcome" dashboards-modal-welcome></div>
  </div>
</div>
